@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root {
  direction: rtl;
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
}

.testimonials-slider .slick-dots {
  bottom: -40px;
}

.testimonials-slider .slick-dots li {
  margin: 0 4px;
  color:red;
  background-color: white;
}
.slick-dots li {
  margin: 0 4px;
  color:red;
  width: 20px;
  transition: .3s;
}
.slick-dots li.slick-active button:before {
  margin: 0 4px;
  color:white;
  font-size: 10px;
  transition: .3s;
}
.slick-dots li button:before {
  margin: 0 4px;
  color:white;
  width: 20px;
  transition: .3s;
}


.testimonials-slider .slick-slide {
  opacity: 0.5;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.testimonials-slider .slick-current {
  opacity: 1;
  transform: scale(1);
}